USE [master]
GO
/****** Object:  Database [udemy]    Script Date: 27.04.2021 13:04:56 ******/
CREATE DATABASE [udemy]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'udemy', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\udemy.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'udemy_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\udemy_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [udemy].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [udemy]
GO
/****** Object:  Table [dbo].[ders]    Script Date: 27.04.2021 13:04:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[egitimId] [int] NULL,
	[baslik] [varchar](100) NULL,
	[url] [text] NULL,
 CONSTRAINT [PK_ders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[durum]    Script Date: 27.04.2021 13:04:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[durum](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[kullaniciId] [int] NULL,
	[dersId] [int] NULL,
	[tamamlanma] [tinyint] NULL,
	[tarih] [date] NULL,
 CONSTRAINT [PK_durum] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[egitim]    Script Date: 27.04.2021 13:04:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[egitim](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[kullaniciId] [int] NULL,
	[kategoriId] [int] NULL,
	[baslik] [varchar](100) NULL,
	[aciklama] [text] NULL,
 CONSTRAINT [PK_egitim] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[kategori]    Script Date: 27.04.2021 13:04:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[kategori](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ad] [varchar](50) NULL,
 CONSTRAINT [PK_kategori] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[kullanici]    Script Date: 27.04.2021 13:04:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[kullanici](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[kullaniciAd] [varchar](50) NULL,
	[parola] [varchar](50) NULL,
	[ad] [varchar](50) NULL,
	[soyad] [varchar](50) NULL,
	[cinsiyet] [varchar](5) NULL,
	[dogumTarih] [date] NULL,
	[telNo] [varchar](12) NULL,
	[email] [varchar](100) NULL,
 CONSTRAINT [PK_kullanici] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[satinAlim]    Script Date: 27.04.2021 13:04:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[satinAlim](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[kullaniciId] [int] NULL,
	[egitimId] [int] NULL,
	[ucret] [float] NULL,
	[tarih] [date] NULL,
 CONSTRAINT [PK_satinAlim] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[ders] ON 

INSERT [dbo].[ders] ([Id], [egitimId], [baslik], [url]) VALUES (1, 1, N'Yazılım Nedir ?', N'-')
INSERT [dbo].[ders] ([Id], [egitimId], [baslik], [url]) VALUES (2, 1, N'Programlama Nedir ?
', N'-')
INSERT [dbo].[ders] ([Id], [egitimId], [baslik], [url]) VALUES (3, 1, N'Programlama Mantığını Anlamak
', N'-')
SET IDENTITY_INSERT [dbo].[ders] OFF
SET IDENTITY_INSERT [dbo].[egitim] ON 

INSERT [dbo].[egitim] ([Id], [kullaniciId], [kategoriId], [baslik], [aciklama]) VALUES (1, 1, 1, N'Python | Sıfırdan İleri Seviye Programlama', N'Sıfırdan İleri Seviyeye Python ve Programlama öğrenmenin tadını çıkarın.

Bu kursta sıfırdan Python ve programlamanın temellerini öğrenerek , ileri seviyelere kadar Python''ın tüm güzelliklerini beraber görmeye başlayacağız. Eğer programlama hakkında hiçbir fikriniz yoksa bu kurs tam size göre!')
INSERT [dbo].[egitim] ([Id], [kullaniciId], [kategoriId], [baslik], [aciklama]) VALUES (3, 3, 1, N'Android Mobil Uygulama Kursu: Kotlin & Java', N'Android için Mobil Uygulama yazmayı sıfırdan ileri seviyeye kadar öğrenmek istiyorsanız bu kurs tam size göre!

Android geliştirmeyi son teknoloji ile öğreneceksiniz: Android + Java + Kotlin.

Google Android geliştirme için Java haricinde Kotlin''i de destekleyeceğini açıkladı. Daha da ötesi Kotlin''i birinci dil tercihi olarak belirtti. Dört dörtlük bir yazılımcı olmak istiyorsanız iki dili de öğrenmek için doğru yerdesiniz.')
SET IDENTITY_INSERT [dbo].[egitim] OFF
SET IDENTITY_INSERT [dbo].[kategori] ON 

INSERT [dbo].[kategori] ([Id], [ad]) VALUES (1, N'Yazılım Geliştirme')
INSERT [dbo].[kategori] ([Id], [ad]) VALUES (2, N'İşletme')
INSERT [dbo].[kategori] ([Id], [ad]) VALUES (3, N'Finans ve Muhasebe')
SET IDENTITY_INSERT [dbo].[kategori] OFF
SET IDENTITY_INSERT [dbo].[kullanici] ON 

INSERT [dbo].[kullanici] ([Id], [kullaniciAd], [parola], [ad], [soyad], [cinsiyet], [dogumTarih], [telNo], [email]) VALUES (1, N'mustafamurat', N'12345678', N'Mustafa Murat', N'Coşkun', N'Erkek', CAST(0x7E070B00 AS Date), N'5455454545', N'mustafac@gmail.com')
INSERT [dbo].[kullanici] ([Id], [kullaniciAd], [parola], [ad], [soyad], [cinsiyet], [dogumTarih], [telNo], [email]) VALUES (2, N'sadikturan', N'12345678', N'Sadık', N'Turan', N'Erkek', CAST(0xA10E0B00 AS Date), N'5465464646', N'sadikturan85@hotmail.com')
INSERT [dbo].[kullanici] ([Id], [kullaniciAd], [parola], [ad], [soyad], [cinsiyet], [dogumTarih], [telNo], [email]) VALUES (3, N'atilsamancioglu', N'12345678', N'Atıl', N'Samancıoğlu', N'Erkek', CAST(0xE70A0B00 AS Date), N'5428963245', N'atil@samancioglu.com')
SET IDENTITY_INSERT [dbo].[kullanici] OFF
SET IDENTITY_INSERT [dbo].[satinAlim] ON 

INSERT [dbo].[satinAlim] ([Id], [kullaniciId], [egitimId], [ucret], [tarih]) VALUES (1, 11, 1, 49.99, CAST(0x90400B00 AS Date))
INSERT [dbo].[satinAlim] ([Id], [kullaniciId], [egitimId], [ucret], [tarih]) VALUES (2, 12, 2, 27.99, CAST(0x23420B00 AS Date))
INSERT [dbo].[satinAlim] ([Id], [kullaniciId], [egitimId], [ucret], [tarih]) VALUES (3, 13, 3, 69.99, CAST(0xEB410B00 AS Date))
SET IDENTITY_INSERT [dbo].[satinAlim] OFF
USE [master]
GO
